<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Navigation Suite" parallel="none" thread-count="1" verbose="2">

    <listeners>
        <listener class-name="com.employee.listeners.TestListener" />
    </listeners>

    <test name="Full Menu Navigation Test" preserve-order="true">
        <classes>
            <class name="com.employee.tests.LoginTest"/>
            <class name="com.employee.tests.DashboardTest"/>
            <class name="com.employee.tests.EmployeeTest"/>
            <class name="com.employee.tests.DepartmentTest"/>
            <class name="com.employee.tests.DesignationTest"/>
            <class name="com.employee.tests.AttendanceTest"/>
            <class name="com.employee.tests.PayrollTest"/>
            <class name="com.employee.tests.ReportsTest"/>
            <class name="com.employee.tests.SettingsTest"/>
            <class name="com.employee.tests.LogoutTest"/>
        </classes>
    </test>
</suite>
